body {
	background-color: #eee;
}

section.chart-container {
	background-color: #fff;
	max-width: 500px;
	min-width: 500px;
	padding: 25px;
	margin-bottom: 20px;
}

canvas#bar-canvas,
canvas#line-canvass {
	padding-top: 25px;
	padding-bottom: 15px;
}

button#randomise-data {
	background-color: #3578e5;
	color: #fff;
	margin: 15px auto;
	display: block;
	padding: 5px;
}
